<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Files</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <%- include('partials/header') %>

  <h2>Uploaded Files</h2>
  <ul>
    <% files.forEach(file => { %>
      <%- include('partials/fileCard', { file }) %>
    <% }) %>
  </ul>

  <%- include('partials/footer') %>

</body>
</html>