<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/_header') %>

  <div class="auth-container">
    <h2>Sign Up</h2>

    <% if (typeof error !== 'undefined') { %>
      <p class="error"><%= error %></p>
    <% } %>

    <form action="/signup" method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" required autocomplete="email" value="<%= typeof email !== 'undefined' ? email : '' %>"/>

      <label for="password">Password:</label>
      <input type="password" name="password" required autocomplete="password"/>

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required autocomplete="new-password" />

      <button type="submit">Create Account</button>
    </form>

    <div class="login-redirect">
      <p>Already have an account?</p>
      <form action="/" method="GET">
        <button type="submit">Log In</button>
      </form>
    </div>
  </div>

  <%- include('partials/_footer') %>

</body>
</html>